stages:
  - build
  - test

build:
  stage: build
  image: maven:3.9.6-eclipse-temurin-17
  script:
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - target/*.jar
    expire_in: 1 hour

test:
  stage: test
  image: docker:20.10.24  # Docker client image with apk package manager
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - apk add --no-cache curl
    - curl -L "https://github.com/docker/compose/releases/latest/download/docker-compose-linux-x86_64" -o /usr/local/bin/docker-compose
    - chmod +x /usr/local/bin/docker-compose
  script:
    - docker-compose -f docker-compose.test.yml up --build --abort-on-container-exit --exit-code-from petconnect-test
    - docker-compose -f docker-compose.test.yml down -v

lint-and-format:
  stage: test
  image: maven:3.9.6-eclipse-temurin-17
  script:
    - mvn spotless:check
  allow_failure: false