body {
    font-family: sans-serif;
    background: #f7f7f7;
    padding: 0;
    margin: 0;
    text-align: center;
}
.headerContainer {
    background: #2a7f62;
    border-bottom: 1px solid #eee;
}

.header {
    background-color: #2a7f62;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: 120px;
}
.headerLinks {
    display: flex;
    gap: 30px;
    align-items: center;
}

.headerLinks a,
.headerLinks button {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    background: none;
    border: none;
    cursor: pointer;
}

.headerLinks .btn {
    background: #ff5252;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
}


#calendar {
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}
#authorize_button {
    background-color: #4285f4;
}
#signout_button {
    background-color: #d9534f;
    display: none;
}


/* FOOTER */
.footerContainer {
    background-color: #2a7f62;
    padding: 70px 0 30px 0;
    color: white;
}

.footer {
    max-width: 1300px;
    margin: auto;
}

.footerColumns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footerColumn {
    flex: 1;
    padding: 0 20px;
}

.footerColumn h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footerColumn p, .footerColumn a {
    color: #e0e0e0;
    font-size: 14px;
    line-height: 1.8;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.footerColumn a:hover {
    text-decoration: underline;
}

.footerBottom {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid rgba(255,255,255,0.1);
    font-size: 14px;
    color: #e0e0e0;
}